<div class="text-bg-light w-100 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
  <div class="my-3 py-3">
    <h2 class="display-5">Welcome to the Shop</h2>
    <p class="lead m-5">Marina's Textiles is an online store that offers a wide range of textiles for home and everyday
      use. From towels to bed linen, the entire range of products is made of high-quality materials and is
      characterized by aesthetics and convenience. The company aims not only to meet the needs of customers in quality
      textile products, but also to create an atmosphere of coziness and comfort in their homes.</p>
  </div>
</div>

<carousel [isAnimated]="true">
  <slide>
    <img src="../../assets/images/hero1.jpg" alt="slide"
         style="display: block; width: 100%">
  </slide>
  <slide>
    <img src="../../assets/images/hero3.jpg" alt="slide"
         style="display: block; width: 100%">
  </slide>
  <slide>
    <img src="../../assets/images/hero2.jpg" alt="slide"
         style="display: block; width: 100%">
  </slide>
</carousel>
<section class="featured">

  <div class="d-md-flex flex-md-equal my-md-3 ps-md-3">
    <div class="text-bg-light w-100 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <img src="assets/images/categories/c1.jpg" alt="slide" style="display: block; width: 100%">
      <div class="my-3 py-3">
        <h2 class="display-5">Linens</h2>
        <p class="lead">Everything for a comfortable sleep: bedding sets, mattress toppers and bedspreads.</p>
      </div>
    </div>
    <div class="bg-body-tertiary w-100 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <img src="assets/images/categories/c2.jpg" alt="slide" style="display: block; width: 100%">
        <h2 class="display-5">Towels</h2>
        <p class="lead">Soft and quick-drying towels for everyday use.</p>
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-body-tertiary w-50 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <img src="assets/images/categories/с3.jpg" alt="slide" style="display: block; width: 100%">
        <h2 class="display-5">Curtains</h2>
        <p class="lead">Elegant curtains for the home that add coziness and style.</p>
      </div>
    </div>
    <div class="text-bg-light w-50 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <img src="assets/images/categories/с4.jpg" alt="slide" style="display: block; width: 100%">
      <div class="my-3 py-3">
        <h2 class="display-5">Carpets</h2>
        <p class="lead">Soft and stylish carpets for different rooms.</p>
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-light w-50 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <img src="assets/images/categories/c5.jpg" alt="slide" style="display: block; width: 100%">
      <div class="my-3 py-3">
        <h2 class="display-5">Dishes</h2>
        <p class="lead">Elegant tableware for special occasions and everyday use.</p>
      </div>
    </div>
    <div class="bg-body-tertiary w-50 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <img src="assets/images/categories/c6.jpg" alt="slide" style="display: block; width: 100%">
        <h2 class="display-5">Mattress toppers</h2>
        <p class="lead">Ergonomic mattress pads to improve sleep quality.</p>
      </div>
    </div>
  </div>

  <!--  <div class="row row-cols-3 g-3 mb-5">-->
  <!--    <div class="col" *ngFor="let category of categories">-->
  <!--      <app-category-item [category]="category"></app-category-item>-->
  <!--    </div>-->
  <!--  </div>-->
</section>
