<carousel [isAnimated]="true">
  <slide>
    <img src="../../assets/images/hero3.jpg" alt="slide"
         style="display: block; width: 100%">
  </slide>
  <slide>
    <img src="assets/images/hero2.jpg" alt="slide"
         style="display: block; width: 100%">
  </slide>
  <slide>
    <img src="../../assets/images/hero1.jpg" alt="slide"
         style="display: block; width: 100%">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to the Shop</h1>
  </div>
  Marina's Textiles is an online store that offers a wide range of textiles for home and everyday use. From towels to bed linen, the entire range of products is made of high-quality materials and is characterized by aesthetics and convenience. The company aims not only to meet the needs of customers in quality textile products, but also to create an atmosphere of coziness and comfort in their homes.

  figures

<!--  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">-->
<!--    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">-->
<!--      <div class="my-3 py-3">-->
<!--        <h2 class="display-5">Another headline</h2>-->
<!--        <p class="lead">And an even wittier subheading.</p>-->
<!--      </div>-->
<!--      <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->
<!--    </div>-->
<!--    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">-->
<!--      <div class="my-3 p-3">-->
<!--        <h2 class="display-5">Another headline</h2>-->
<!--        <p class="lead">And an even wittier subheading.</p>-->
<!--      </div>-->
<!--      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="row row-cols-3 g-3 mb-5">
    <div class="col" *ngFor="let category of categories">
      <app-category-item [category]="category"></app-category-item>
    </div>
  </div>
</section>
